<ion-view title="Sign In">
	<ion-content>
		<div class="padding-left padding-top padding-right">
			<h1>Welcome</h1>
		</div>
		<div>
			<div class="list list-inset">
				<label class="item item-input">
					<input ng-model="username" type="text" placeholder="Username" />
				</label>
				<label class="item item-input">
					<input ng-model="password" type="password" placeholder="Password" />
				</label>
			</div>
			<div class="padding">
				<button ng-click="login(username, password)" class="button vitton-block button-stable">Sign In </button>
			</div>
		</div>
	</ion-content>
</ion-view>